body {
    font-family: Arial, sans-serif;
    background-color: #191414;
    margin: 0;
    padding: 20px;
    transition: 0.5s ease-in-out;
    justify-content: space-between;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}

h1 {
    text-align: center;
    transition: 0.5s ease-in-out;
}

.hidden {
    display: none;
    transition: 0.5s ease-in-out;
}

button {
    border-radius: 5px;
    background-color: #1db954;
    color: #191414;
    border: 2px solid #191414;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

button:hover {
    background-color: #191414;
    color: #1db954;
    border: 2px solid #1db954;
    transition: 0.5s ease-in-out;
}

#subject {
    width: 40vh;
    border: 2px solid #1db954;
    border-radius: 5px;
}

#star {
    margin-top: 5vh;
    margin-left: 16vh;
}

#quiz-settings {
    justify-content: space-between;
}

input {
    border: 2px solid #1db954;
    border-radius: 5px;
}
